<div>
  <h3><%= @user.name %> <%= @user.surname %></h3>
  <h4>Age: <%= @user.age %></h4>
  <%= image_tag(@user.image_path, {class: "style__image"})%>
</div>

<div>
  <%= render partial: 'shared/stats' %>
</div>

<% if @on_my_page %>
  <%= render partial: 'shared/new_post' %>
<% else %>
  <%= render 'shared/follow_form' unless @on_my_page %>
<% end %>

<div>
  <% if @user.posts.size.zero? %>
    <p>No posts yet</p>
  <% else %>
    <% @user.posts.distinct.each do |post| %>
      <div class="post-grid">
        <p><%= post.description %></p>
        <p><%= post.created_at.strftime("%H:%M %d.%m.%Y") %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= render partial: 'shared/all_user_list' %>
