<div>
  <h3><%= @user.name %> <%= @user.surname %></h3>
  <h4>Age: <%= @user.age %></h4>
  <%= image_tag(@user.image_path) %>
</div>

<% if @on_my_page %>
  <%= render partial: 'shared/new_post' %>
<% end %>

<div>
  <% if @user.posts.size.zero? %>
    <p>No posts yet</p>
  <% else %>
    <% @user.posts.distinct.each do |post| %>
      <div class="post-grid">
        <p><%= post.description %></p>
        <p><%= post.created_at.strftime("%H:%M %d.%m.%Y") %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div>
  <% render partial: 'shared/stats' %>
  <%= @user.following.count %>
  <%= @user.followers.count %>
</div>
<%= render 'shared/follow_form' unless @on_my_page %>

<div style="margin-top: 10em">
  <% @users.each do |user| %>
    <div>
      <p><%= link_to user.name, user_path(user) %></p>
    </div>
  <% end %>
</div>
