<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag(@user.image_path, {class: "style__image"}) %>
    </div>
    <div class="col-sm-4 m-4">
      <h3><%= @user.name %> <%= @user.surname %></h3>
      <h4>Age: <%= @user.age %></h4>
      <br>
      <div>
        <%= render partial: 'shared/stats' %>
      </div>

      <% unless @on_my_page %>
        <div class="container-fluid">
          <div class="row">
            <%= render 'shared/follow_form' %>
            <%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: params[:id]), method: 'post', class: 'btn btn-primary ml-3' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<% if @on_my_page %>
  <%= render partial: 'shared/new_post' %>
<% end %>

<br>

<ul class="list-group">
  <li class="list-group-item active">My posts</li>
  <% if @user.posts.size.zero? %>
    <li class="list-group-item">No posts yet</li>
  <% else %>
    <% @user.posts.distinct.reverse_each do |post| %>
      <li class="list-group-item">
        <p><%= post.description %></p>
        <p><%= post.created_at.strftime("%H:%M %d.%m.%Y") %></p>
      </li>
    <% end %>
  <% end %>
</ul>


